<html>
<head>
	<link rel="icon" type="image/svg+xml" href="https://example.com/image.svg">
</head>


<body>
<h1> Hello socket </h1>
<script src="/js/jquery.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
	var socket = io(s);
</script>

</body>

</html>